<a href="https://colab.research.google.com/github/Diyaash/Data-Structures/blob/main/Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
DS = [5, 10, 15, 20, 25, 30]
TDS = list(map(lambda x: x**3 + 10, DS))
print(TDS)

[135, 1010, 3385, 8010, 15635, 27010]

In [ ]:
def user():
  dd=['yatharth','amit','sahil']
  a=str(input('Enter the user name'))
  if a in dd:
    if a==dd[0]:
      b=int(input('Enter paaword'))
      if b==1234:
        print('Login Succesful')
      else:
        print('Wrong Password')
    if a==dd[1]:
      b=int(input('Enter paaword'))
      if b==234:
        print('Login Succesful')
      else:
        print('Wrong Password')
    if a==dd[2]:
      b=int(input('Enter paaword'))
      if b==34:
        print('Login Succesful')
      else:
        print('Wrong Password')
    else:
      print('You are not a user in our company')
user()

Enter the user namesahi

In [ ]:
#CALCULATOR

def calculator():
  a=int(input('enter first number'))
  b=int(input('enter second number'))
  c=str(input('enter the operation[+,-,*,//]'))
  if c == '+':
    print(a+b)
  elif c=='-':
    print(a-b)
  elif c=='*':
    print(a*b)
  elif c=="//":
    print(a//b)
  else:
    print('invalid operation chosen')
calculator()

enter first number2
enter second number3
enter the operation[+,-,*,//]//
0

***DATA STRUCTURE***
**LISTS** - mutable and ordered
has 2-D list- list inside a list
we can create an empty list also

**TUPLES** - immutable and ordered

enumerate =

In [ ]:
empty_list = []
print("empty_list", empty_list)

numeric_list = [122, 443, 243]

mixed_list = [1, 'one', 3.9,]

for i in (mixed_list):
  print(i)

empty_list []
1
one
3.9

In [ ]:
1+2

In [ ]:

numeric_list = [122, 443, 243]

mixed_list = [1, 'one', 3.9,]

for i,j in enumerate(mixed_list):
  print(i,j)

0 1
1 one
2 3.9

In [ ]:

numeric_list = [122, 443, 243]

mixed_list = [1, 'one', 3.9,]

for p,q in enumerate(numeric_list):
  for i,j in enumerate(mixed_list):
    print(i,j,p,q)

0 1 0 122
1 one 0 122
2 3.9 0 122
0 1 1 443
1 one 1 443
2 3.9 1 443
0 1 2 243
1 one 2 243
2 3.9 2 243

APPEND COMMAND- adds an element to the end of the list

EXTEND COMMAND - adds elements of another list to the end of the list

INSERT-insrts an element at a specified position in the list

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.append(list2) #append creates a 2-D list
print(list1)

[1, 2, 3, [4, 5, 6]]

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2) #extend creates a 1-D list- ideal way to add multiple values
print(list1)

[1, 2, 3, 4, 5, 6]

REMOVE COMMANDS

REMOVE() - removes the first occurence of a specified value from the list

pop()- removes and returns the element at a specified index

de() - deete the element at a specified index

In [ ]:
list1= [1, 2, 3, 5, 4]
popped = list1.pop(3) #removes only one element specified at an index
print(list1)

[1, 2, 3, 4]

In [ ]:
list1= [1, 2, 3, 5, 4, 5]
popped = list1.remove(5) #removes one element specified in the () only the first occurence.
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
list1= [1, 2, 3, 5, 4]
del list1[2:5] #removes only one element or a slicer specified at an index
print(list1)

[1, 2]

if we wan to remove mltiple elements from a list- we have to use remove command twice

REVERSING - REVERSE() - reverses the elements of a list

COPY COMMAND- to manipulate.a list without altering the original list

In [ ]:
list1= [3,2,1]
list1.reverse()
print("After reversing: ", list1)

After reversing:  [1, 2, 3]

In [ ]:
list1= [3,2,1]
list2= list1.copy()
print(list2)

[3, 2, 1]

SLICING-

POSITIVE SLICING- left to right [0,1,2...]

NEGATIVE SLICING-right to left [-1, -2, -3...]

In [ ]:
a= [1, "python", 34, 4, "kia"]
b= a[1:3]
print(b)

['python', 34]

In [ ]:
a= [1, "python", 34, 4, "kia"]
b= a[-4:-2] #always the smaller number first
print(b)

['python', 34]

In [ ]:
a= [1, "python", 34, 4, "kia"]
b= a[-3:-5:-1]
print(b)

[34, 'python']

In [ ]:
a= [[1,2,3], [4,5,6], [7,8,9]]
print(sublist for sublist in a)

<generator object <genexpr> at 0x7c9f8547f680>

elipses(...) - used in multidimensional lists to represent

LIST COMPREHENSION -


** % is modulo which means remainder**

In [ ]:
squares = [x**2 for x in range(5)] #printing squares til range 5
print(squares)

[0, 1, 4, 9, 16]

In [ ]:
#printing even sqaures
even_sq = [x**2 if x % 2 == 0 else x**3 for x in range(6)]
print(even_sq)

[0, 1, 4, 27, 16, 125]

In [ ]:
odd_num = [x for x in range(10) if x % 2 != 0]
print(odd_num) #!= is unequals to

[1, 3, 5, 7, 9]

NESTED LIST-

In [ ]:
#nested LISTS
a= [[1,2,3],[4,5,6], [7,8,9]]
filtered_squared= [x**2 for row in a for x in row if x % 2 ==0]
print(filtered_squared)
  # trying to access list inside list- if we want to work with element inside a nested list

[4, 16, 36, 64]

SAME NESTED LIST OPEration IN ANOTHER WAY

In [ ]:
a= [[1,2,3],[4,5,6], [7,8,9]] #2D list
for big_element in a:
  for inner_element in big_element: #thats why 2 for loops needed
    if inner_element % 2 == 0: #if loop at the end because first we access that element
      print(inner_element**2)

4
16
36
64

**TUPLES** - (), immutable -cant change later

operations with tuples : below
support the len() function to determine the number of elements.

In [ ]:
li = [1,2,3]
li2 = [2,3,4]

li + (li2*2) #give li2 elements twice

[1, 2, 3, 2, 3, 4, 2, 3, 4]

In [ ]:
t1 = (1,2,3)
t2 = (4,5,6)

t1 + (t1*2) #CONCATENATION OF TUPLES

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
t1 = [1,2,3]
t2 = tuple(t1) #type casting - changing the type
print(t2)

(1, 2, 3)