<a href="https://colab.research.google.com/github/Diyaash/Data-Structures/blob/main/List_Tuple_exercise_Solutions%2BStudent's_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#List<br>Question 1: Analyzing Student Scores
You are provided with a list of student scores in a class. Perform the following operations: Find and display the highest score in the class. Calculate and print the average score of the class. Identify and display the names of students who scored above a certain threshold (e.g., 80). Sort and display the student names in alphabetical order.

#Question 2: Generate Squares and Cubes
Write a program to generate two lists using list comprehension. The first list should contain the squares of numbers from 1 to 10, and the second list should contain the cubes of the same numbers.

#Question 3: Filtering Positive Numbers
Given a list of numbers, create a new list that contains only the positive numbers from the original list. Implement this using list comprehension.

#Question 4: Sorting Student Names
You have a list of student names. Implement a program to sort the names alphabetically and display the sorted list.

#Below are the answers given by Karan

In [ ]:
# List of students and their scores
students_scores = [("Alice", 85), ("Bob", 78), ("Charlie", 92), ("David", 88)]

# Find and display the highest score
highest_score = max(students_scores, key=lambda x: x[1])
#print(f"Highest Score: {highest_score[0]} with {highest_score[1]}")
print("Highest Score: {} with {}".format(highest_score[0], highest_score[1]))
#print('{} is my highest number'.format(number))

# Calculate and print the average score
average_score = sum(score for _, score in students_scores) / len(students_scores)
print(f"Average Score: {average_score:.2f}")


# Identify and display the names of students who scored above a certain threshold
threshold = average_score
above_threshold = [student for student, score in students_scores if score > threshold]
print(f"Students scoring above {threshold}: {', '.join(above_threshold)}")

# Sort and display the student names in alphabetical order
sorted_students = sorted([student for student, _ in students_scores])
print("Students sorted alphabetically:")
for _ in sorted_students:
    print(_)

Highest Score: Charlie with 92
Average Score: 85.75
Students scoring above 85.75: Charlie, David
Students sorted alphabetically:
Alice
Bob
Charlie
David

In [ ]:
# Generate list of squares from 1 to 10
squares = [x**2 for x in range(1, 11)]
print("Squares from 1 to 10:", squares)

# Generate list of cubes from 1 to 10
cubes = [x**3 for x in range(1, 11)]
print("Cubes from 1 to 10:", cubes)

Squares from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Cubes from 1 to 10: [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
# Original list of numbers
numbers = [-10, 15, -3, 20, 0, -7, 8]

# Create a new list with only positive numbers
positive_numbers = [num for num in numbers if num > 0]
print("Positive numbers:", positive_numbers)

Positive numbers: [15, 20, 8]

In [ ]:
# List of student names
student_names = ["Charlie", "Alice", "Bob", "David"]

# Sort the names alphabetically
sorted_names = sorted(student_names)
print("Sorted student names:")
for name in sorted_names:
    print(name)

Sorted student names:
Alice
Bob
Charlie
David

#Below are the answers given by Students

In [ ]:
#QUESTION1:
# Yatharth's Answer

student_name=['vineet','divakar','meena']
kl = student_name.copy()
student_marks=[85,68,94]
print('Average Marks of class=',sum(student_marks)/len(student_marks))
c=kl.sort()
print(student_name)
for i in student_marks:
  if i>90:
    print("Highest Marks")
  elif i>80:
    print("This Student has passed the threshold=",student_name[0])
  else:
    print("Not the highest marks")

Average Marks of class= 82.33333333333333
['vineet', 'divakar', 'meena']
This Student has passed the threshold= vineet
Not the highest marks
Highest Marks

In [ ]:
#Q1- Devangi

def scores():
  print("""        FINAL SCORES:
  Names      Scores
  Varsha  :    85
  Anushka :    92
  Sheoli  :    67
  Kunal   :    56
  Sankalp :    95
  Deepak  :    97    """)
#sorting
  names= ["Varsha", "Anushka", "Sheoli", "Kunal", "Sankalp", "Deepak"]
  sorted_names= sorted(names)
  print("Aphabetical order of names:", sorted_names)
#max score
  scores=[85, 92, 67, 56, 95, 97]
  max_score = max(scores)
  max1= str(input('Do you want to know the highest score?[Y/N]'))
  if max1.upper()== 'Y':
    print("Highest score is:", max_score)
  #threshold
  above90= [score for score in scores if score > 90]
  print("scores above 90 i.e A+ :", above90)
  #average
  average= int(sum(scores) / len(scores))
  print("average of scores is:", average)

scores()

        FINAL SCORES:
  Names      Scores
  Varsha  :    85
  Anushka :    92
  Sheoli  :    67
  Kunal   :    56
  Sankalp :    95
  Deepak  :    97
Aphabetical order of names: ['Anushka', 'Deepak', 'Kunal', 'Sankalp', 'Sheoli', 'Varsha']
Do you want to know the highest score?[Y/N]Y
Highest score is: 97
scores above 90 i.e A+ : [92, 95, 97]
average of scores is: 82

In [ ]:
#kartik's answer - Question 2

my_lst = [1,2,3,4,5,6,7,8,9,10]

# List comprehension to generate squares and cubes
squares = [x**2 for x in my_lst]
cubes = [x**3 for x in my_lst]

# Displaying the lists
print("Squares:", squares)
print("Cubes  :", cubes)

Squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Cubes  : [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
#Q2- Devangi

a= [1,2,3,4,5,6,7,8,9,10]
squares = [x**2 for x in a]
cubes = [x**3 for x in a]
print(squares)
print(cubes)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
#Question 2 vishal
def comprehensionLists():
  squaredlist = [x**2  for x in range(1,11)]
  cubelist=[x**3  for x in range(1,11)]
  print(squaredlist)
  print(cubelist)

comprehensionLists()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
#Q3- Devangi
import random
nums = [random.randint(-50,50) for x in range(10)]
positive_numbers = list(filter(lambda x: x > 0, nums))
print("list of numbers:", nums)
print("positive numbers among these:", positive_numbers)

list of numbers: [-14, -17, -3, -43, -31, 24, -47, -12, 9, 36]
positive numbers among these: [24, 9, 36]

In [ ]:
# question - 3 (Digvijay)
number = [-2, -1, 5, 6, 8]
positive_number= [num for num in number if num >=0]
print("Original Number:",number)
print("Positive Number:",positive_number)

Original Number: [-2, -1, 5, 6, 8]
Positive Number: [5, 6, 8]

In [ ]:
# Q3 Karthik's Answer

my_lst =[-58, -4, -6, -15, -2, 2, -64, -15, 94, 45, 8, 58, 1, 7, -7, -3, -9, 13, 15, 5]

# List comprehension to filter positive numbers
operation= [x for x in my_lst if x >= 0]

# Displaying the filtered lists
print("Positive Numbers :" ,operation)

Positive Numbers : [2, 94, 45, 8, 58, 1, 7, 13, 15, 5]

In [ ]:
#Question3:
#yatharth answer - not the ideal way to do this list comphrension
a=[1,2,3,4,5,6,7,8,9,10]
b=[print('positive number') if x>0 else print('no is zero') if x==0 else print('Negative number') for x in a]
# print(b)

positive number
positive number
positive number
positive number
positive number
positive number
positive number
positive number
positive number
positive number

In [ ]:
#Question 3 vishal
mixedlist=[1,-4,11,2,-222,-6,4,-9,13]
FinalList =  [x for x in mixedlist if x >= 0]
print(FinalList)

[1, 11, 2, 4, 13]

#Tuple <br>
Question 1: Course Enrollment: You are managing student course enrollments, and each course has a unique identifier, a list of enrolled students, and their corresponding grades. Implement a program using advanced tuple operations to perform the following: Create a tuple for a course containing its identifier, a list of enrolled students, and their grades. Display the course information, including the average grade. Identify and display the student with the highest grade in the course. Update the grade of a specific student.<br><br>
Question 2: Filtered Student Information: You have a list of student names, their ages, and their grades. Implement a program using tuple comprehension and filtering to perform the following: Create a list of tuples where each tuple contains a student's name, age, and grade. Display the list of student tuples. Filter and display only the information of students who are above a certain age.<br><br>
Question 3: Employee Salary Calculation: You have a list of employees, and each employee is represented as a tuple containing their name, hourly rate, and hours worked. Implement a program using tuple unpacking and functions to perform the following: Calculate and display the total salary for each employee. Identify and display the employee with the highest total salary. Display the average total salary of all employees.<br><br>
Question 4: Student Grade Book You have a dictionary where the keys are student names, and the values are tuples containing their scores in three different subjects. Implement a program using tuple and dictionary integration to perform the following: Display the student names and their average scores. Identify and display the student with the highest average score. Display the average scores for each subject.<br><br>

#Below are the answers given by Karan

In [ ]:
# Initial setup for the course
course = (
    "CS101",  # Course identifier
    [("Alice", 85), ("Bob", 92), ("Charlie", 78)],  # List of enrolled students and their grades
)

# Display course information
course_id, students_grades = course
print(f"Course ID: {course_id}")
print("Enrolled Students and Grades:")
for student, grade in students_grades:
    print(f"{student}: {grade}")

# Calculate and display the average grade
average_grade = sum(grade for _, grade in students_grades) / len(students_grades)
print(f"Average Grade: {average_grade:.2f}")

# Identify and display the student with the highest grade
top_student = max(students_grades, key=lambda x: x[1])
print(f"Top Student: {top_student[0]} with Grade: {top_student[1]}")

#max_value = []
#for i, j in students_grades:
#  max_value.append(j)
#op = max(max_value)

# Update the grade of a specific student
def update_grade(course, student_name, new_grade):
    course_id, students_grades = course
    updated_grades = [(student, new_grade if student == student_name else grade) for student, grade in students_grades]
    return (course_id, updated_grades)

# Example: Update Charlie's grade to 88
grade_ = 90
course = update_grade(course, "Charlie", grade_)

# Display updated course information
print("Updated Students and Grades:")
for student, grade in course[1]:
    print(f"{student}: {grade}")

Course ID: CS101
Enrolled Students and Grades:
Alice: 85
Bob: 92
Charlie: 78
Average Grade: 85.00
Top Student: Bob with Grade: 92
Updated Students and Grades:
Alice: 85
Bob: 92
Charlie: 90

In [ ]:
course = (
    "CS101",  # Course identifier
    [("Alice", 85), ("Bob", 92), ("Charlie", 78)],  # List of enrolled students and their grades
)

# Update the grade of a specific student
def update_grade(course, student_name, new_grade):
    course_id, students_grades = course
    updated_grades = [(student, new_grade if student == student_name else grade) for student, grade in students_grades]
    return (course_id, updated_grades)

# Example: Update Charlie's grade to 90
grade_ = 90
name_ = 'Charlie'
output = update_grade(course, name_, grade_)

output

('CS101', [('Alice', 85), ('Bob', 92), ('Charlie', 90)])

In [ ]:
# List of student data (name, age, grade)
students = [
    ("Alice", 20, 85),
    ("Bob", 22, 92),
    ("Charlie", 19, 78),
    ("David", 21, 88)
]

# Display the list of student tuples
print("Student Information:")
for student in students:
    print(student)

# Filter and display students above a certain age
age_threshold = 20
filtered_students = [student for student in students if student[1] > age_threshold]

print(f"Students older than {age_threshold}:")
for student in filtered_students:
    print(student)

Student Information:
('Alice', 20, 85)
('Bob', 22, 92)
('Charlie', 19, 78)
('David', 21, 88)
Students older than 20:
('Bob', 22, 92)
('David', 21, 88)

In [ ]:
# List of employees (name, hourly rate, hours worked)
employees = [
    ("Alice", 20, 35),
    ("Bob", 15, 40),
    ("Charlie", 25, 30),
    ("David", 30, 25)
]

# Calculate and display the total salary for each employee
def calculate_salary(name, hourly_rate, hours_worked):
    return hourly_rate * hours_worked

employee_salaries = [(name, calculate_salary(name, hourly_rate, hours_worked)) for name, hourly_rate, hours_worked in employees]

print("Employee Salaries:")
for name, total_salary in employee_salaries:
    print(f"{name}: ${total_salary:.2f}")

# Identify and display the employee with the highest total salary
highest_salary_employee = max(employee_salaries, key=lambda x: x[1])
print(f"Highest Salary: {highest_salary_employee[0]} with ${highest_salary_employee[1]:.2f}")

# Display the average total salary of all employees
average_salary = sum(salary for _, salary in employee_salaries) / len(employee_salaries)
print(f"Average Salary: ${average_salary:.2f}")

Employee Salaries:
Alice: $700.00
Bob: $600.00
Charlie: $750.00
David: $750.00
Highest Salary: Charlie with $750.00
Average Salary: $700.00

In [ ]:
# Dictionary of student grades
grade_book = {
    "Alice": (85, 90, 88),
    "Bob": (92, 80, 76),
    "Charlie": (78, 85, 90),
    "David": (88, 92, 85)
}

# Display student names and their average scores
print("Student Averages:")
for student, grades in grade_book.items():
    avg_score = sum(grades) / len(grades)
    print(f"{student}: {avg_score:.2f}")

# Identify and display the student with the highest average score
highest_avg_student = max(grade_book.items(), key=lambda x: sum(x[1]) / len(x[1]))
print(f"Highest Average Score: {highest_avg_student[0]} with {sum(highest_avg_student[1]) / len(highest_avg_student[1]):.2f}")

# Display the average scores for each subject
subject_averages = [sum(grades) / len(grades) for grades in zip(*grade_book.values())]
print("Subject Averages:")
for i, avg in enumerate(subject_averages, start=1):
    print(f"Subject {i}: {avg:.2f}")

Student Averages:
Alice: 87.67
Bob: 82.67
Charlie: 84.33
David: 88.33
Highest Average Score: David with 88.33
Subject Averages:
Subject 1: 85.75
Subject 2: 86.75
Subject 3: 84.75

#Below are the answers given by Students

In [ ]:
#Q2  Kartik's Answer

# LISTS.
std_names  = ['Kartik','Akash', 'Robin','Prashant','Rakshit','Rohan','Mohan']
std_ages   = [19,20,18,23,17,21,22]
std_grades = [90,95,82,80,85,75,86]

# List conversion in Tuples.
name = tuple(std_names)
age  = tuple(std_ages)
grade= tuple(std_grades)

# Tuple conversion in List.
student_info = list(zip(name,age,grade))
print("Listed Student Info :", student_info )

# Filtering student info as per the demand which is select student below age of 20.
filtered_student =[(name ,age, grade) for name , age , grade in student_info if age >20 ] # name age and grades must be in parentheses

print("Filtered Students   :", filtered_student)

Listed Student Info : [('Kartik', 19, 90), ('Akash', 20, 95), ('Robin', 18, 82), ('Prashant', 23, 80), ('Rakshit', 17, 85), ('Rohan', 21, 75), ('Mohan', 22, 86)]
Filtered Students   : [('Prashant', 23, 80), ('Rohan', 21, 75), ('Mohan', 22, 86)]

In [ ]:
help(zip)

Help on class zip in module builtins:

class zip(object)
 |  zip(*iterables, strict=False) --> Yield tuples until an input is exhausted.
 |
 |     >>> list(zip('abcdefg', range(3), range(4)))
 |     [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]
 |
 |  The zip object yields n-length tuples, where n is the number of iterables
 |  passed as positional arguments to zip().  The i-th element in every tuple
 |  comes from the i-th iterable argument to zip().  This continues until the
 |  shortest argument is exhausted.
 |
 |  If strict is true and one of the arguments is exhausted before the others,
 |  raise a ValueError.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __setstate__(...)
 |      Set state information for unpickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:
#Question2:
#yatharth answer
student_name=('nik','dev','saroson')
student_age = (23, 22, 21)
student_grades = ('A', 'B', 'F')
student_name_list = list(student_name)

# Check if the string '4' is in the student name, not the integer 4
C = [print('Age is',student_age[i]) if student_age[i]>=22 else print(len(student_name)) for i in range(len(student_name_list))]
#print(C)

Age is 23
Age is 22
3